<div id='footer' class="clearfix">
  <ul>
    <li>&copy; <%= DateTime.current.year %> Jot Locker LLC.</li>
  	<li><%= link_to "Facebook", "http://www.facebook.com/pages/Jot-Locker-LLC/108658519190567", :alt => "Facebook", :target => '_blank' %></li>
  	<li><%= link_to "Twitter", "http://twitter.com/JotLocker/", :alt => "Twitter", :target => '_blank' %></li>
  	<li><%= link_to "Linkedin", "http://www.linkedin.com/company/jot-locker?goback=%2Enpe_*1_en*4US_*1_*1%2Enpe_*1_*1_*1_*1%2Enpv_1656594_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1", :alt => "Linkedin", :target => '_blank'%></li>
  </ul>
</div><!--footer-->