<style type="text/css" media="screen">
  label{
    font-size: 75%;
  }
</style>
<p id="notice"><%= notice %></p>

<div id="main" class="clearfix jots">
  <div id="main_left" class="detail_content">
    <div id="jots">
      <br />
      <%= render 'form' %>

    </div><!--jots-->
  </div><!--main left-->
  </div>

